pycurl==7.19.3.1
aiohttp==3.6.3
appdirs==1.4.4
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
decorator==4.4.2
discord==1.0.1
discord.py==1.5.1
dnspython==1.16.0
gssapi==1.6.10
h11==0.11.0
idna==2.10
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
pymongo==3.11.0
pytz==2020.4
regex==2020.10.28
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
srv==1.0.0
starlette==0.13.6
toml==0.10.2
typed-ast==1.4.1
urllib3==1.25.11
winkerberos==0.7.0
wrapt==1.12.1
yarl==1.5.1
zstd==1.4.5.1
